@import './node_modules/bootstrap/scss/bootstrap.scss';


body {
  font-family: 'open sans';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arial';
  font-weight: 300 !important;
}


/*Halaman Pertama*/

/*Navbar*/

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

#middleside {
  margin-left: 150px;
}

/*Background*/

.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 20rem;
  background-image:  url(./assets/main-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 11rem;
    padding-bottom: 12.5rem;
  }

  header.masthead .masthead-content .masthead-heading {
    font-size: 3rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 1rem;
    margin-top: 1rem;
  }
}

/*Button*/

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1rem 5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-top: 7rem;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}
.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 54, 0.25);
}
.btn.disabled, .btn:disabled {
  opacity: 0.65;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-primary {
  color: black;
  background-color: #fed136;
  border-color: #fed136;
}
.btn-primary:hover {
  color: #fff;
  background-color: #fec810;
  border-color: #fec503;
}
.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #fec810;
  border-color: #fec503;
  box-shadow: 0 0 0 0.2rem rgba(254, 216, 84, 0.5);
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #fed136;
  border-color: #fed136;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #fec503;
  border-color: #f3bd01;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 216, 84, 0.5);
}

/*Halaman Kedua*/

.halaman2 {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 70px);
  padding-bottom: 5rem;
  background-image:  url(./assets/the-games-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

h4, h3, .halaman2 {
  color: white;
}

/*Halaman Ketiga*/


.halaman3 {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 5rem;
  background-image:  url(./assets/features.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid white;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

h2, h1, p, .halaman3 {
  color: white;
}

a, .halaman3 {
  color: orange;
}


/*Halaman Keempat*/


.halaman4 {
  position: relative;
  overflow: hidden;
  padding-top: calc(5rem + 72px);
  padding-bottom: 5rem;
  background-image:  url(./assets/requirements.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}




/*halaman Kelima*/

.halaman5 {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background-image:  url(./assets/top-score-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-image: linear-gradient(360deg, rgba(0,0,0,1) 5%, rgba(11,11,11,0.8) 18%, rgba(37,37,37,0.6) 37%, rgba(255,255,255,0) 85%), 
  linear-gradient(180deg, rgba(0,0,0,1) 5%, rgba(11,11,11,0.8) 18%, rgba(37,37,37,0.6) 37%, rgba(255,255,255,0) 85%);
}
.img-user-topscore {
max-width: 60px;
height: auto;
box-shadow: 5px 2px 0px 0px rgb(241, 183, 22);
border-radius: 50%;
}

.card {
background-color: white;
max-width: 400px;
}
.top-score-name {
color: turquoise;
margin: 0;
}

.top-score-name {
  color: aqua;
}

.grey-text {
  color: #212529;
}

q {
  color: #212529;
}

/*halaman Keenam */

.halaman6 {
position: relative;
overflow: hidden;
padding-top: calc(4rem + 72px);
padding-bottom: 5rem;
background:  url(./assets/newsletter-bg.jpg);
background-position: center;
background-repeat: no-repeat;
background-attachment: scroll;
background-size: cover;
}

#subscribebtn {

font-weight: 400;


padding: 1rem 2rem;
font-size: 1rem;
line-height: 1;
border-radius: 0.10rem;

margin-top: 0px;

}



.footer-info {
background-image: url(./assets/newsletter-bg.jpg);
font-size: 12px;
font-weight: 700;

}
.bottom-nav{
padding: 0 .3rem;
}
hr {
background-color: gray;
display: block;
border-style: inset;
border-width: 1px;
margin: 0;
}

.nav-link {
color: grey;
}


.nav-link:hover {
color: white;
}

.Logincontent {
position: relative;
overflow: hidden;
padding-top: calc(4rem + 72px);
padding-bottom:10rem;

background:  url(./assets/newsletter-bg.jpg);
background-position: center;
background-repeat: no-repeat;
background-attachment: scroll;
background-size: cover;
}

h6, .login-form {

  color: white;
  
}




.signupcontent {
  position: relative;
  overflow: hidden;
  padding-top: calc(4rem + 72px);
  padding-bottom: 5rem;
  background-image:  url(./assets/newsletter-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  
  
}

label{
  color: #fff;
}

.roomcontent {
  position: relative;
overflow: hidden;
padding-top: calc(4rem + 72px);
padding-bottom: 25rem;

background:  url(./assets/the-games-bg.jpg);
background-position: center;
background-repeat: no-repeat;
background-attachment: scroll;
background-size: cover;
}

.roomcontent, .btn {



}


